.guess-container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.guess-container h2 {
    margin-bottom: 20px;
}

.logo {
  height: 80px;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.guess-container input {
    padding: 8px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.guess-container button {
    padding: 8px 15px;
    margin-left: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.guess-container button:hover {
    background-color: #45a049;
}

.guess-container p {
    margin-top: 15px;
    font-weight: bold;
}
